/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px; /* Further reduced padding for a smaller header */
  background-color: rgb(233, 237, 231);
  font-family: 'Open Sans', sans-serif;
}

.logo h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem; /* Smaller font size for logo */
  color: #8d3d3d;
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.email {
  color: #333;
  text-decoration: none;
  font-size: 1rem; /* Slightly smaller font size */
  font-family: 'Roboto', sans-serif; /* Changed to a more professional font */
  margin-right: 20px; /* Space between email and logo */
  transition: color 0.3s ease;
  letter-spacing: 0.5px; /* Slight letter-spacing for elegance */
  font-weight: 400; /* Lighter weight for professional look */
}

.email:hover {
  color: #ff5a5f; /* Color change on hover */
  text-decoration: underline; /* Underline on hover */
}

/* Responsive styling for smaller screens */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo h1 {
    font-size: 1.4rem; /* Even smaller font size on mobile */
  }

  .header-right {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px; /* Reduced margin for mobile */
  }

  .email {
    margin-bottom: 5px; /* Reduced margin on mobile */
  }
}
